<section class="my-8">
  <div class="grid">
    <div
      class="col-12 text-center text-gray-700 mt-4 p-1 bg-primary border-round-xl"
    >
      <h1 class="text-6xl">Formación</h1>
    </div>
  </div>
</section>
<div class="grid mt-4">
  <div
    class="col-12 lg:col-3 md:col-6 flex justify-content-center align-items-center"
    *ngFor="let credential of credentials"
  >
    <p-image
      [src]="credential.path"
      [alt]="credential.alt"
      width="300"
      [preview]="true"
    ></p-image>
  </div>
</div>
