<section>
  <div class="grid">
    <div class="col-12 bg-primary border-round-xl">
      <p class="text-center p-5 m-1 text-xl">
        Mi nombre es Guillermo Piñate y soy desarrollador full stack
        Angular/Nodejs, en Julio del 2022 finalice mi formación descubrí que
        esta area es mi pasión. Anteriormente me desarrolle profesionalmente
        como Diseñador Gráfico y Fotógrafo con lo cual siempre he estado ligado
        al area informática.
      </p>
    </div>
  </div>
</section>
