<div class="grid">
  <div class="col-12">
    <h1 class="text-center mt-8 text-6xl text-gray-700">Experiencia</h1>
  </div>
</div>

<div class="grid mt-5 text-gray-700">
  <div class="col-12">
    <p-card header="Frontend Developer" subheader="01-07-2023 / Actual">
      <ng-template pTemplate="header">
        <img alt="Card" src="./assets/images/grupoapok_logo.png" />
      </ng-template>
      <p class="text-gray-700">
        Como Frontend Developer trabajo en un proyecto de gestión de materiales
        de construción y herramientas. Como marco de desarrollo uso Angular
        Versión 15, Angular Material, Prime NG, PrimeFLEX, REDUX-NGRX.
      </p>
      <p class="text-gray-700">Mis resposabilidades son:</p>
      <ul class="text-gray-700">
        <li>Implementación de CRUD de productos y ususarios.</li>
        <li>Administración de roles de usuarios.</li>
        <li>Lazy loading y protección de rutas.</li>
        <li>Test unitarios.</li>
        <li>Creación de formularios.</li>
        <li>Implementación del patrón REDUX-NGRX.</li>
      </ul>
    </p-card>
  </div>

  <div class="col-12">
    <p-card header="Full stack Developer" subheader="01-09-2022 al 30-06-2023">
      <ng-template pTemplate="header">
        <img alt="Card" src="./assets/images/woutick_Brand_Symbol.png" />
      </ng-template>
      <p class="text-gray-700">
        Como Frontend Developer trabaje en aplicaciones y apps destinadas a
        congresos entre ellos eventos como ferias del libro y El salón
        automotor. Las herramientas que utilice fueron Angular versión 8 a la
        14, Ionic vesión 6, Angular Material, Prime Ng, Bootstrap, ASANA para
        gestión de incidencias.
      </p>
      <p class="text-gray-700">Mis responsabilidades a continuación :</p>

      <ul class="text-gray-700">
        <li>
          Cambiar peticiones fetch en base a promesas a peticiones en base a
          programación reactiva Observables Rxjs
        </li>
        <li>
          Consumí servicios REST, JWT, administración de roles, chats, subida de
          archivos.
        </li>
        <li>Implementación de i18n para los difrentes idiomas.</li>
        <li>Test unitarios con Karma - Jasmine.</li>
        <li>
          Mantenimiento a componentes Legacy de Ionic visión 5 a versión 6.
        </li>
        <li>
          Mantenimiento de las funcionalidades existentes y desarrollo de nuevas
          funcionalidades.
        </li>
        <li>Creación del landing page de la empresa.</li>
      </ul>
    </p-card>
  </div>
</div>
