<div class="grid">
  <div class="col-12">
    <h1 class="text-center mt-8 text-6xl text-gray-700">Experiencia</h1>
  </div>
</div>

<div class="grid mt-5 text-gray-700">
  <div class="col-12">
    <p-card header="Frontend Developer" subheader="01-07-2023 / Actual">
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="./assets/images/grupoapok_logo.jpg"
          class="w-1 ml-3"
        />
        <h3 class="ml-3">Apok C.A</h3>
      </ng-template>
      <p class="text-gray-700">
        Diseño y desarrollo de interfaces de usuarios añadir funcionalidades,
        para esta función utilizo frameworks Angular. Compatibilidad las web o
        aplicaciones deben ser compatible para diferentes navegadores y
        dispositivos. Mantenimiento y actualización
      </p>
    </p-card>
  </div>
  <div class="grid mt-5 text-gray-700">
    <div class="col-12">
      <p-card
        header="Full stack Developer"
        subheader="01-09-2022 al 30-06-2023"
      >
        <ng-template pTemplate="header">
          <img alt="Card" src="./assets/images/woutick_Brand_Symbol.png" />
        </ng-template>
        <p class="text-gray-700">
          Como full stack developer me desempeñe en el desarrollo de Apps para
          congresos y realizando los mantenimiento correspondientes al landing
          page de la empresa.
        </p>
        <p class="text-gray-700">
          Desarrolle nuevas funcionalidades en ambos proyectos, utilizando
          Angular en sus versiones más recientes así como también Ionic para
          desarrollar Apps de dichos proyectos desplegados en las stores de
          Android e IOS.
        </p>
        <p class="text-gray-700">
          Consumí servicios REST, JWT, administración de roles, chats, subida de
          archivos, formularios, test de integración, test unitarios.
        </p>
      </p-card>
    </div>
  </div>
</div>
