<section>
  <div class="grid">
    <div class="col-12 text-center text-gray-700 mt-8 p-4">
      <h1 class="text-6xl">
        Full stack <span class="text-primary">MEAN</span> developer.
      </h1>
      <h2>
        “Un programador que escriba un código limpio, entiende perfectamente el
        problema antes de escribir el código”.
      </h2>
    </div>
    <div
      class="col-12 flex flex-wrap justify-content-center align-items-center"
    >
      <div>
        <img
          src="./assets/images/Guillermo2.jpg"
          alt="Imagen Guillermo"
          class="border-circle border-solid border-primary mt-5"
          style="width: 250px"
        />
      </div>
    </div>

    <div class="col-12 flex justify-content-center align-items-center">
      <img src="./assets/images/fondo.svg" alt="Imagen diseño" class="mt-6" />
    </div>
  </div>
</section>
