/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/soho-light/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body {
  width: 70%;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    width: 90%;
  }
  @media (max-width: 490px) {
    width: 90%;
  }
}
